{% extends "layout/base.html" %}

{% block title %}会员订阅{% endblock %}

{% block banner %}

  {% include "partials/warning.html" %}

  <section class="barrier-banner">
    <div class="container pt-3 pb-3">
      <div class="row flex-row-reverse">
        <div class="col-sm-4">
          <img class="barrier-cover" src="{{banner.coverUrl}}" alt="">
        </div>
        <div class="col-sm-8">
          <div class="pt-3 pb-3">
            <h1 class="barrier-heading">{{banner.heading}}</h1>
            <h2 class="barrier-heading">{{banner.subHeading}}</h2>
          </div>
          <div class="barrier-content">
            {% for p in banner.content %}
            <p>{{p}}</p>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block main %}
  <div class="row">
    <div class="col-12 pt-5 pb-3">
        <h2 class="text-center">请选择您的订阅方式</h2>
    </div>
  </div>

  <div class="row justify-content-around o-card-group">
    {% for product in products %}
      <div class="col-lg-5 mb-3">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title text-center mb-3 pb-3">{{product.heading}}</h3>
            <ul>
              {% for item in product.benefits %}
                <li>{{ item }}</li>
              {% endfor %}
            </ul>
            {% if product.smallPrint %}
              <small>{{product.smallPrint}}</small>
            {% endif %}
          </div>

          <div class="card-footer">
            {% for plan in product.pricing %}
            <div class="text-center mb-2">
              <a href="{{ sitemap.pay(plan.tier, plan.cycle) }}"
                {% if plan.cycle == "month" %}
                class="btn btn-outline-primary"
                {% else %}
                class="btn btn-primary text-white"
                {% endif %}>

                {% if plan.listPrice != plan.netPrice %}
                  <s>{{product.currency | localize}}{{ plan.listPrice | toCurrency }}/{{ plan.cycle |
                    localize }}</s>
                {% endif %}

                {{product.currency | localize}}{{ plan.listPrice | toCurrency }}/{{ plan.cycle | localize
                }}
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}

  </div>
{% endblock %}
