{% extends "layout/base.html" %}

{% block title %}会员订阅{% endblock %}

{% block main %}

  <div class="row justify-content-center mb-5 mt-5">
    <div class="col">
      <div class="text-center">
        <h4>购买 {{ subs.tier | localize }}/{{ subs.cycle | localize }}</h4>
        <strong class="text-danger">¥{{ subs.netPrice | toCurrency }}</strong>

        <div id="paySuccess" class="pay-result">
          <div class="d-flex justify-content-center align-items-center mt-3">

            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024"><path fill="#26747a" d="M760 380.4l-61.6-61.6-263.2 263.1-109.6-109.5L264 534l171.2 171.2L760 380.4z"/></svg>
            <span class="success-text mr-2">支付成功</span>
          </div>

          <div class="mt-3">
            <a class="btn btn-primary" href="{{ sitemap.wxpayDone }}">完成</a>
          </div>
        </div>

        <div id="payFailure" class="pay-result">
          <div class="d-flex justify-content-center align-items-center mt-3">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024"><path fill="#990F3D" d="M697.4 759.2l61.8-61.8L573.8 512l185.4-185.4-61.8-61.8L512 450.2 326.6 264.8l-61.8 61.8L450.2 512 264.8 697.4l61.8 61.8L512 573.8z"/></svg>
            <span class="failure-text">支付失败，<a href="{{ sitemap.home }}">请返回重试</a></span>
          </div>
        </div>

      </div>
    </div>
  </div>
{% endblock %}

{% block embedJs %}
<script>

function onBridgeReady() {
  WeixinJSBridge.invoke("getBrandWCPayRequest", {
    "appId": "{{ order.appId }}",
    "timeStamp": "{{ order.timestamp }}",
    "nonceStr": "{{ order.nonce }}",
    "package": "{{ order.pkg }}",
    "signType": "{{ order.signType }}",
    "paySign": "{{ order.signature }}",
  }, function(res) {

    if (res.err_msg == "get_brand_wcpay_request:ok") {
      const paySuccess = document.getElementById("paySuccess");
      if (paySuccess) {
        paySuccess.classList.add("show");
      }
    } else {
      const payFailure = document.getElementById("payFailure");
      if (payFailure) {
        payFailure.classList.add("show");
      }
    }
  });
}

function initWxBrowserPay() {
  if (typeof WeixinJSBridge == "undefined") {
    if (document.addEventListener) {
      document.addEventListener("WeixinJSBridgeReady", onBridgeReady, false);
    } else if (document.attachEvent) {
      document.attachEvent("WeixinJSBridgeReady", onBridgeReady);
      document.attachEvent("onWeixinJSBridgeReady", onBridgeReady);
    }
  } else {
    onBridgeReady();
  }
}

initWxBrowserPay();
</script>
{% endblock %}
